.git/

build
dist
*.egg-info
*.egg/
**/*.pyc
*.swp

.tox
.coverage
html/*
**/__pycache__

docs/_build

.gitignore
.pre-commit-config.yaml
Dockerfile

.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/
misc/
